<div class="row">
	<div class="col-sm-6 ">
		<div class="panel panel-default">
			<div class="panel-heading">Job</div>
			<div class="panel-body">
				<div class="col-md-12">
					<form ng-submit="submit()" name="jobForm" novalidate>

						<div class="form-group"
							 ng-class="{ 'has-error': jobForm.title.$invalid && jobForm.title.$dirty }">
							<label for="title">Title:</label> <input type="text" required
																	 class="form-control" ng-model="job.title" id="title"
																	 name="name">
						</div>

						<div class="form-group"
							ng-class="{ 'has-error': jobForm.company.$invalid && jobForm.company.$dirty }">
							<label for="company">Company:</label> <input type="text" required
								class="form-control" ng-model="job.company" id="company"
								name="name">
						</div>

						<div class="form-group"
							 ng-class="{ 'has-error': jobForm.city.$invalid && jobForm.city.$dirty }">
							<label for="city">City:</label> <input type="text" required
																	 class="form-control" ng-model="job.city" id="city"
																	 name="name">
						</div>

						<div class="form-group"
							 ng-class="{ 'has-error': jobForm.technology.$invalid && jobForm.technology.$dirty }">
							<label for="technology">Technology:</label> <input type="text" required
																   class="form-control" ng-model="job.technology" id="technology"
																   name="name">
						</div>

						<div class="form-group"
							 ng-class="{ 'has-error': jobForm.level.$invalid && jobForm.level.$dirty }">
							<label for="level">Example multiple select</label>
							<select class="form-control" ng-model="job.level" id="level">
								<option>Junior</option>
								<option>Mid</option>
								<option>Senior</option>
							</select>
						</div>

						<div class="form-group"
							 ng-class="{ 'has-error': jobForm.salaryFrom.$invalid && jobForm.salaryFrom.$dirty }">
							<label for="city">Salary from:</label> <input type="text" required
																   class="form-control" ng-model="job.salaryFrom" id="salaryFrom"
																   name="name">
						</div>

						<div class="form-group"
							 ng-class="{ 'has-error': jobForm.salaryTo.$invalid && jobForm.salaryTo.$dirty }">
							<label for="city">Salary to:</label> <input type="text" required
																   class="form-control" ng-model="job.salaryTo" id="salaryTo"
																   name="name">
						</div>


						<div>
							<label for="active">True:</label> <input type="radio" name="status" value="true"
																   ng-model="job.active" id="active"
																   name="name">
						</div>

						<div>
							<label for="active">False:</label> <input type="radio" name="status" value="false"
																	  ng-model="job.active" id="activee"
																	 name="name">
						</div>

						<button type="submit" class="btn btn-default"
							ng-disabled="jobForm.$invalid">{{buttonText}}</button>

						<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-14">
		<div class="panel panel-default">
			<div class="panel-heading">
				Job
				<button type="button" class="btn btn-default btn-sm"
					ng-click="initAddJob()">
					<span class="glyphicon glyphicon-plus"></span> New Job
				</button>
			</div>




			<div class="panel-body">
				<input type='text' ng-model='search.title' placeholder="Sort by title" />
				<input type='text' ng-model='search.company' placeholder="Sort by company" />
				<div class="alert alert-info margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Company</th>
							<th>City</th>
							<th>Technology</th>
							<th>Level</th>
							<th>Salary from</th>
							<th>Salary to</th>
							<th>Active</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="job in jobList  | filter:search:strict">
							<td>{{$index+1}}</td>
							<td>{{job.title}}</td>
							<td>{{job.company}}</td>
							<td>{{job.city}}</td>
							<td>{{job.technology}}</td>
							<td>{{job.level}}</td>
							<td>{{job.salaryFrom}}</td>
							<td>{{job.salaryTo}}</td>
							<td>{{job.active}}</td>
							<td><button type="button" class="btn btn-default btn-sm"
									ng-click="initEdit(job)">
									<span class="glyphicon glyphicon-edit"></span>
								</button></td>
							<td>
								<button type="button" class="btn btn-default btn-sm"
									ng-click="deleteJob(job)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
