

		<div class="panel-body">
			<input type='text' ng-model='search.title' placeholder="Sort by title" />
			<input type='text' ng-model='search.company' placeholder="Sort by company" />

			<div class="alert alert-info margin-top-50" ng-show="deleteMessage">{{deleteMessage}}</div>

			<p><h3>City</h3>
			<label ng-repeat="city in cities">
				<input
						type="checkbox"
						name="selectedCities[]"
						value="{{city}}"
						ng-checked="toggleCitySelection.indexOf(city) > -1"
						ng-click="toggleCitySelection(city)"
				> {{city}}
			</label>
			</p>


			<p><h3>Technology</h3>
			<label ng-repeat="technology in technologies">
				<input
						type="checkbox"
						name="selectedTechnologies[]"
						value="{{technology}}"
						ng-checked="toggleTechnologySelection.indexOf(technology) > -1"
						ng-click="toggleTechnologySelection(technology)"
				> {{technology}}
			</label>
			<p><h3>Level</h3>
			<label ng-repeat="level in levels">
				<input
						type="checkbox"
						name="selectedLevel[]"
						value="{{level}}"
						ng-checked="toggleLevelSelection.indexOf(level) > -1"
						ng-click="toggleLevelSelection(level)"
				> {{level}}
			</label>
			</p>

				<div id="contentBox" ng-repeat="job in jobList | filter:search:strict | filter:{active: 'true'}
			 | customArray:citySelection:'city'| customArray:technologySelection:'technology'| customArray:levelSelection:'level'" >
					<div class="column">{{job.title}}</div>
					<div class="column">{{job.company}}</div>
					<div class="column">Salary {{job.salaryFrom}}-{{job.salaryTo}}</div>
					<div class="column">City
						{{job.city}}</div>
				<div class="column"><button type="button" class="btn btn-primary" ng-click="job.showDetails = !job.showDetails">Apply</button></div>
					<div ng-show="job.showDetails">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					</div>
				</div>


				<div id="contentBox2"  ng-if="citySelection.length < 1 && technologySelection.length < 1 && levelSelection.length < 1" ng-repeat="job in jobList" >
					<div class="column">{{job.title}}</div>
					<div class="column">{{job.company}}</div>
					<div class="column">Salary {{job.salaryFrom}}-{{job.salaryTo}}</div>
					<div class="column">City
						{{job.city}}</div>
					<div class="column"><button type="button" class="btn btn-primary" ng-click="job.showDetails = !job.showDetails">Apply</button></div>
					<div ng-show="job.showDetails">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					</div>
			</div>
		</div>

