<div class=" col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">Register</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form ng-submit="submit()" name="register" novalidate>



					<div class="form-group"
						ng-class="{ 'has-error': register.username.$invalid && register.username.$dirty }">
						<label for="username">Username:</label> <input type="text"
							required class="form-control" ng-model="appUser.username"
							id="username" name="username">
					</div>

					<div class="form-group"
						 ng-class="{ 'has-error': register.email.$invalid && register.name.$dirty }">
						<label for="email">Email:</label> <input type="email" required
															   class="form-control" ng-model="appUser.email" id="email"
															   name="email">
					</div>

					<div class="form-group"
						ng-class="{ 'has-error': register.password.$invalid && register.password.$dirty }">
						<label for="pwd">Password:</label> <input type="password" required
							class="form-control" id="pwd" ng-model="appUser.password"
							name="password">
					</div>

					<div class="form-group"
						ng-class="{ 'has-error': register.confirmPassword.$invalid && register.confirmPassword.$dirty }">
						<label for="cpwd">Confirm Password:</label> <input type="password"
							name="confirmPassword" required class="form-control" id="cpwd"
							ng-model="confirmPassword">
					</div>

					<div class="alert alert-warning margin-top-5"
						ng-show="confirmPassword != appUser.password ">Password Not
						Matching</div>

					<button type="submit" class="btn btn-default"
						ng-disabled="register.$invalid || (confirmPassword != appUser.password)">Register</button>
					<button class="btn btn-default" ui-sref="login">Login</button>
					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
				</form>
			</div>
		</div>
	</div>
</div>